.nirab-wi-shortcode {
  background: #dad4ff;
  border-radius: 10px;
  padding: 20px;
}
.nirab-wi-shortcode table {
  border: 1px solid;
  padding: 0 10px;
  width: 100%;
}
.nirab-wi-shortcode table td {
  padding: 10px;
  border-bottom: 1px solid;
}
.nirab-wi-current {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nirab-wi-current h4,
.nirab-wi-current h3,
.nirab-wi-current h5,
.nirab-wi-current p {
  margin: 0;
}
.nirab-wi-right > p {
  margin-bottom: 5px;
}
.nirab-wi-small-p {
  font-size: 14px;
  margin: 0;
}
.nirab-wi-forecast {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 0;
}
.nirab-wi-forecast table {
  margin: 0;
}
.nirab-wi-no-location {
  background-color: red;
  color: white;
  padding: 6px 10px;
  margin: 10px 0;
  border-radius: 4px;
  width: 100%;
}
.nirab-wi-no-location p {
  margin: 0;
}
.nirab_widget_weather_widget {
  background: white;
  border-radius: 4px;
  border: 1px solid #cccccc;
  margin-bottom: 20px;
  padding: 20px 10px;
}
.nirab_widget_weather_widget .nirab_widget_weather_heading {
  text-align: center;
}
.nirab_widget_weather_widget .nirab_widget_weather_heading h3,
.nirab_widget_weather_widget .nirab_widget_weather_heading h4 {
  margin: 0;
}
.nirab_widget_weather_widget .nirab_widget_weather_heading p {
  font-weight: 600;
  margin-bottom: 10px;
}
.nirab_widget_weather_widget p {
  text-align: center;
  margin: 0;
  padding-bottom: 2px;
}
.nirab_widget_forecast_card {
  align-items: center;
  background: white;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}
.nirab_widget_forecast_card div {
  border-radius: 4px;
  border: 1px solid #cccccc;
  padding: 10px;
  text-align: center;
  min-width: 120px;
}
.nirab_widget_forecast_card div p {
  margin: 0;
}

